.dropdown-menu {
    background: rgb(0, 255, 115);
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #ff18ba;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #c1d3e6;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  